 		<div id="linkList">
 			<div id="linkList2">
 			    <div id="lselect">
 				    <h3 class="select"><span>Undergraduate:</span></h3>
                    <ul id="undergrad_links">
                        <li><a href="faq.html" title="Frequently Asked Questions">undergraduate FAQ</a>
                        <li><a href="letters.html" title="Letters">Recommendation Letters FAQ</a>
                       <li><a href="outreach.html" title="Outreach">Outreach</a>
                    </ul>
 			    </div>

             <!-- <div id="lresources">
                <h3 class="resources"><span>Graduate:</span></h3>
                <ul id="grad_links">
                   <li><a href="sitemap.html" title="Site Map">Sitemap</a>
                </ul>
             </div> -->

 				<div id="larchives">
 					<h3 class="archives"><span>Research:</span></h3>
 					<ul id="research_links">
 					    <li><a href="publications.html" title="See my publications">Publications</a>
 					    <li><a href="activities.html" title="Organisational activities">Math Activities</a>
 					    <li><a href="resources.html" title="See related notes and resources">Notes and Resources</a>
                    </ul>
 				</div>				
 			</div>
 		</div>